@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #000000;
}

.header-wrap {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}

.header-wrap__logo {
  width: 17.5%;
  padding-left: 32.5px;
}

.header-wrap__logo a {
  transition: all 0.3s;
}

.header-wrap__logo a:hover {
  opacity: 0.7;
}

.header-wrap__logo a img {
  display: block;
  width: 100%;
  height: 100%;
}

.header-wrap__nav {
  width: 60%;
}

.header-wrap__nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.header-wrap__nav__list__item a {
  position: relative;
  text-decoration: unset;
  color: #707070;
  font-weight: 500;
}

.header-wrap__nav__list__item a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #6BAFFF;
  bottom: 2px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.header-wrap__nav__list__item a:hover::after {
  visibility: visible;
  bottom: -2.5px;
  opacity: 1;
  z-index: -1;
}

.header-wrap__res {
  width: 30%;
  margin: 10px 20px;
}

.header-wrap__res__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-wrap__res a {
  position: relative;
  text-decoration: unset;
  white-space: nowrap;
  display: block;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  background-color: #4169E1;
  padding: 10% 20px;
  transition: all 0.3s;
}

.header-wrap__nav__res__item_tel a{
  background-color: #41E0B9;
  padding: 7% 20px;
}

.header-wrap__res a:hover {
  opacity: 0.7;
}

.header-wrap__res a img {
  display: block;
  width: 100%;
  height: 100%;
}

.__inner {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  padding: 3% 0;
}


.ttl {
  position: relative;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.15;}

.btn {
  width: 17.5rem;
  margin-top: 2rem;
}
  
.btn a {
  display: block;
  width: 100%;
  text-decoration: unset;
  text-align: center;
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: 500;
  background-color: #4169E1;
  border: solid 2.5px #4169E1;
  border-radius: 50px;
  color: #fff;
  line-height: 3.75;
  box-shadow: 4px 3px 7px rgb(0 0 0 / 40%);
  transition: all 0.3s;
}

.btn a:hover {
  background-color: #fff;
  color: #4169E1;
  border: solid 2.5px #4169E1;
}

.footer {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  background-color: #F8FBFF;
  padding: 1.5% 3.5%;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin: 1.5%;
}

.footer-wrap__list__item {
  margin: 12.5% 0;
  list-style: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.footer-wrap__list__item a {
  text-decoration: none;
  transition: 0.3s all;
  color: #000000;
}

.footer-wrap__list__item a:hover {
  opacity: 0.7;
}

.footer-wrap__list__item__sub {
  list-style: none;
}

.footer-wrap__list__item__sub__item {
  margin: 7.5% 0;
  font-size: 0.9rem;
  font-weight: normal;
}