@charset "UTF-8";
.top {
  background-image: url("/img/n-fv__bg.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}



.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.75) 60%);
}

.faq-wrap__ttl{
  margin-top: 2.5%;
  text-align: center;
}

#faq-1, #faq-2,#faq-3,#faq-4{
  background-color: #B4E0D5;
  margin: 5% 0;
}

.faq-wrap__body {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5%;
}

.faq-wrap__body__list {
  width: 80%;
  margin: 0 auto;
}

.faq-wrap__body__list__item {
  position: relative;
  margin: 1.5%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.75% 3.5%;
  list-style: none;
}

.faq-wrap__body__list__item__tog {
  display: none;
}

.faq-wrap__body__list__item__tog:checked
+ .faq-wrap__body__list__item__ttl
+ .faq-wrap__body__list__item__con {
  max-height: 500px;
  transition: all 1.5s;
}

.faq-wrap__body__list__item__tog:checked
+.faq-wrap__body__list__item__ttl::before {
  transform: rotate(90deg);
}

.faq-wrap__body__list__item__ttl,
.faq-wrap__body__list__item__con {
  transform: translate(0);
  transition: all 0.3s;
}

.faq-wrap__body__list__item__ttl {
  display: block;
  font-weight: 500;
}

.faq-wrap__body__list__item__ttl::after,
.faq-wrap__body__list__item__ttl::before {
  content: "";
  position: absolute;
  right: 0.35rem;
  top: 0.35rem;
  width: 2.5px;
  height: 17.5px;
  background-color: #41E0B9;
  transition: all 0.3s;
}

.faq-wrap__body__list__item__ttl::after {
  transform: rotate(90deg);
}

.faq-wrap__body__list__item__con {
  max-height: 0;
  overflow: hidden;
}

.faq-wrap__body__list__item__con p {
  padding: 1% 0 1%;
  font-weight: 500;
}

.faq-wrap__body__list__item__ttl span{
  font-size: 1.25rem;
}