@charset "UTF-8";

.top {
  background-image: url("../img/f-fv__bg.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}

.fea-wrap__body__block {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 3.5%;
  border-radius: 15px;
}

.fea-wrap__body__block:nth-of-type(1) {
  flex-flow: row-reverse;
}

.fea-wrap__body__block__img {
  width: 45%;
  aspect-ratio: 4 / 3;
}


.fea-wrap__body__block__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.fea-wrap__body__block__txt {
  width: 45%;
}

.fea-wrap__body__block__txt span {
  font-size: 2.5rem;
  font-weight: 700;
  color: #4169E1;
}

.fea-wrap__body__block__txt h3 {
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: bold;
  margin: 3% 0;
}

.fea-wrap__body__block__txt p {
  margin-top: 1.5%;
  line-height: 2;
  display: inline-block;
  text-align: left;
}


.facil {
  background-image: url("../img/i-intro1__2.jpg");
  background-size: cover;
  background-position: 100%;
  position: relative;
  height: 30vh;
  margin: 0 auto;
  z-index: 0;
}

.facil::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background-color: rgb(255 255 255 / 30%);
}

.f-btn {
  padding-top: 5%;
  margin: auto;
  width: 15rem;
}

.map-wrap {
  display: block;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.map-wrap__ttl{
  padding: 3% 0;
  margin-top: 3%;
  text-decoration: underline 5px #4169E1;
    font-size: 2.25rem;
    text-underline-offset: 15px;
}

.map-wrap iframe{
  margin: auto;
}

.access-wrap__adress{
  text-align: center;
  display: block;
  padding: 3% 0;
  text-wrap: nowrap;
}

.access-wrap__adress span{
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 5%;
}

.access-wrap__adress p{
  font-size: 1.25rem;
  display: inline-block;
  text-align: left;
}