@charset "UTF-8";

.top {
  background-image: url("../img/t-fv__bg.jpg");
  background-size: 1400px;
  height: 700px;
  width: 85%;
  margin: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  z-index: 0;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.40);
}

.top-wrap {
  max-width: 1400px;
  width: 100%;
  height: 100vh;
  padding-top: 2%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-wrap__left {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 13%;
}

.top-wrap__left__ttl {
  color: #000;
}

.top-wrap__left__ttl h1 {
  font-size: 2rem;
  line-height: 2.5;
  letter-spacing: 15px;
  margin-bottom: 3.5%;
  padding: 0 20px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  text-decoration: underline wavy #E04169;
  text-decoration-thickness:3px;
  text-underline-offset:10px;
}

.news-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.news-wrap__left {
  width: 30%;
}

.news-wrap__left .btn{
  width: 14rem;
  margin-top: 1.5rem;
}
.news-wrap__left h2{
  font-size: 2.25rem;
}
.news-wrap__right {
  width: 60%;
}

.news-wrap__right__list__item {
  list-style: none;
  display: flex;
  border-bottom: dotted 1px #A1A1A1;
  color: #4169E1;
  margin-bottom: 1.5%;
  padding-bottom: 1.5%;
}

.news-wrap__right__list__item span {
  margin-right: 5%;
  color: #000;
}

.info-wrap__ttl {
  text-align: center;
}

.info-wrap__body__block {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 5%;
  padding-top: 5%;
}
.info-wrap__body__block__item a,.fea-wrap__body__block__item a{
  transition: all 0.3s;
}

.info-wrap__body__block__item a:hover,.fea-wrap__body__block__item a:hover {
  opacity: 0.7;
}

.info-wrap__body__block__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 2.5%;
  text-align: center;
}

.info-wrap__body__block__item__icon {
  width: 8.25rem;
  height: 8.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  text-align: center;
}

svg path {
  fill: #6BAFFF;
}

svg{
  background-color: #D3DEFF;
  padding: 15%;
  border-radius: 50%;
}

.info-wrap__body__block__item__ttl {
  margin-top: 5%;
  text-align: center;
}

.fea-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.fea-wrap__right {
  width: 45%;
}

.g-ttl {
  font-size: 2rem;

}
.fea-wrap__right__txt {
  margin-top: 3.5%;
}

.g-ttl::after {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  bottom: 1rem;
  left: 12.5rem;
}

.fea-wrap__body__block{
  display: flex;
  justify-content: space-around;
  margin: 0 5% 5%;
  padding-top: 5%;
}

.fea-wrap__body__block__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 2.5%;
  text-align: center;
}

.fea-wrap__right__txt {
  margin-top: 3.5%;
}

.fea-wrap__left {
  width: 45%;
  aspect-ratio: 7 / 5;
}

.fea-wrap__left img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.r-btn {
  width: 25rem;
  display: inline-block;
  text-align: center;
}

.greet {
  background-color: #D3DEFF;
}

.greet-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greet-wrap__left {
  width: 45%;
}

.greet-wrap__left__txt {
  margin-top: 3.5%;;
}

.f-btn a {
  background-color: #fff;
  border: solid 2.5px #ABC0FD;
  color: #ABC0FD;
}

.f-btn a:hover {
  background-color: #4169E1;
  color: #fff;
}


.greet-wrap__right {
  width: 45%;
  aspect-ratio: 7 / 5;
}

.greet-wrap__right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.map-wrap {
  display: flex;
  justify-content:space-between ;
}

.map-wrap__left {
  width: 45%;
}

.map-wrap iframe {
  display: block;
  width: 100%;
}

.map-wrap__right {
  width: 45%;
}

.map-wrap__right__info{
  display: flex;
}

.map-wrap__logo {
  width: 40%;
  margin-bottom: 3%;
}

.fa-phone {
  color: #4169E1;
  font-size: 1.5rem;
  padding: 5% 0;
}

.fa-phone a{
  text-decoration: none;
}
.fa-phone span{
  color: #000;
}

.map-wrap__logo a {
  transition: all 0.3s;
}

.map-wrap__logo a:hover {
  opacity: 0.7;
}

.map-wrap__logo a img {
  display: block;
  width: 100%;
  height: 100%;
}

.map-wrap__right__btn a {
  display: inline-block;
  width: 100%;
  width: 10rem;
  padding: 25% 5%;
  margin-left: 30%;
  text-decoration: unset;
  text-align: center;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #41E0B9;
  border: solid 2.5px #41E0B9;
  border-radius: 50px;
  color: #fff;
  line-height: 2;
  box-shadow: 4px 3px 7px rgb(0 0 0 / 40%);
  transition: all 0.3s;
}

.map-wrap__right__btn a:hover {
  background-color: #fff;
  color: #41E0B9;
  border: solid 2.5px #41E0B9;
}

.time-wrap__body__block__table {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.time-wrap__body__block__table table {
  width: 85%;
}

.time-wrap__body__block__table table tr:nth-of-type(1) {
  background-color: #4169E1;
  color: #fff;
  text-align: center;
  border-bottom: solid 1px #B3B3B3; 
}

th{
  background-color: #4169E1;
  color: #fff;
}

td {
  color: #B4BFE0;
  text-align: center;
}

.week{
  color: #fff;
  font-weight: bold;
}

.time-wrap__body__block__table table tr:nth-of-type(2),
.time-wrap__body__block__table table tr:nth-of-type(3) {
  border-bottom: solid 1px #B3B3B3;
}

table td {
  border-style: solid;
  border-width: 1px;
  border-color: #B3B3B3;
}

.time-wrap__body__block__table table tr th {
  padding: 10px;
}

.time-wrap__body__block__table table tr td {
  padding: 10px;
}

